/coursera-android/Examples/*/target
/coursera-android/Examples/*/test-output
/coursera-android/Examples/*/.settings
/coursera-android/Examples/*/.classpath
/coursera-android/Examples/*/.project
/coursera-android/Examples/*/bin
/coursera-android/Examples/*/project.properties